    <div class="tt-header-margin"></div>

    <div id="content-wrapper">

        <!-- TT-SLIDE -->
        <div class="hero-container" data-autoplay="0" data-loop="1" data-speed="500" data-center="0" data-slides-per-view="1">
                    <div class="tt-slide-wrapper" style="background-image:url(https://instaservices.blob.core.windows.net/instaservices/pattern.png);">
                        <div class="container">
                            <div class="tt-slide">
                                <div class="tt-slide-inner">                        
                                    <div class="row vertical-middle">
                                        <div class="col-xs-12 col-sm-8">
                                            <div class="tt-slide-cat">Full Stack Web & Mobile Application Company</div>
                                            <h1>
                                              <a href="" class="tt-slide-title c-h1 typewrite" data-period="2000" data-type='[ "Web Applications.", "Mobile Apps.", "SEO Optimization Services.", "Server Hosting.", "Web Development.", "Ruby On rails Application Development.", "Digital Marketing Services.", "Ecommerce.", "Ionic App Development.", "Online Reputation management Services.", "Chatbots."]'>
                                                <span class="wrap"></span>
                                              </a>
                                            </h1>
                                            <div class="tt-slide-cat">Develop. Depoy. Test</div>
                                            <div class="simple-text size-2 color-2">
                                                <p>Let us carft your awesome online presence.</p>
                                            </div>
                                            <a class="c-btn type-1" href=""><span>learn more</span></a>
                                            <div class="empty-space marg-xs-b30"></div>           
                                        </div>
                                        <div class="col-xs-12 col-sm-4">
                                            <img class="img-responsive tt-slide-img" src="https://instaservices.blob.core.windows.net/instaservices/icon.png" height="411" width="362" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>                        
            <div class="pagination c-pagination fixed color-2 visible-xs-block visible-sm-block"></div> 
            <div class="icon-pagination hidden-xs hidden-sm">
                <div class="icon-pag active">
                    <img class="icon-pag-img" src="https://instaservices.blob.core.windows.net/instaservices/pagination_1.png" height="35" width="37" alt="">
                    <div class="icon-pag-title">Data Processing</div>
                    <div class="icon-pag-text"></div>
                </div>
                <div class="icon-pag">
                    <img class="icon-pag-img" src="https://instaservices.blob.core.windows.net/instaservices/pagination_2.png" height="50" width="82" alt="">
                    <div class="icon-pag-title">cloud services</div>
                    <div class="icon-pag-text"></div>
                </div>
                <div class="icon-pag ">
                    <img class="icon-pag-img" src="https://instaservices.blob.core.windows.net/instaservices/business.png" height="35" width="27" alt="">
                    <div class="icon-pag-title">ERPNext</div>
                    <div class="icon-pag-text">Cloud based ERP App</div>
                </div>
                <div class="icon-pag">
                    <img class="icon-pag-img" src="https://instaservices.blob.core.windows.net/instaservices/pagination_4.png" height="35" width="40" alt="">
                    <div class="icon-pag-title">technical assistance</div>
                    <div class="icon-pag-text">Enterprise Backup & Recovery etc.</div>
                </div>                                              
            </div>                         
            <div class="swiper-arrow-left c-arrow-left type-1 hidden-xs hidden-sm"></div>
            <div class="swiper-arrow-right c-arrow-right type-1 hidden-xs hidden-sm"></div>
        </div>

        <div class="bg-1">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="empty-space marg-lg-b60 marg-sm-b40 marg-xs-b40"></div>

                        <div class="empty-space marg-lg-b55 marg-sm-b40 marg-xs-b40"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="empty-space marg-lg-b135 marg-md-b100 marg-sm-b50 marg-xs-b40"></div>

            <!-- TT-TITLE -->
            <h2 class="tt-title-label c-h1">our services</h2>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
                    <div class="simple-text size-3 text-center">

                        <p>We provide Dedicated Servers Hosting, Cloud Hosting Provider, Cloud ERP Provider, Acronics Enterprise Solution Provider. </p>
                    </div>                  
                </div>
            </div>
            <div class="empty-space marg-lg-b75 marg-sm-b50 marg-xs-b30"></div>

            <!-- TT-SERVICE -->
            <div class="tt-devider-3">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="tt-service">
                            <img class="tt-service-img" src="https://instaservices.blob.core.windows.net/instaservices/compare_icon.png" height="70" width="80" alt="" >
                            <a class="tt-service-title c-h5" href="">Dedicated Servers</a>
                            <div class="simple-text size-4">
                                <p>Customized Dedicated Servers hosted in India. 99.9% Uptime. Read More.</p>
                            </div>
                        </div>
                        <div class="empty-space marg-xs-b30"></div>
                    </div>
                    <div class="col-sm-4">
                        <div class="tt-service">
                            <img class="tt-service-img" src="https://instaservices.blob.core.windows.net/instaservices/analytics.png" height="70" width="70" alt="" >
                            <a class="tt-service-title c-h5" href="https://getcloud.solutions/clouderp/index">Cloud ERP App</a>
                            <div class="simple-text size-4">
                                <p>Manage your Business Efficently with Cloud ERP for Manufacturing, Services, Retails, Distribution & Education. Web based & User Friendly.</p>
                            </div>
                        </div>
                        <div class="empty-space marg-xs-b30"></div>                   
                    </div>
                    <div class="col-sm-4">
                        <div class="tt-service">
                            <img class="tt-service-img" src="https://instaservices.blob.core.windows.net/instaservices/service_3_th_violet.png" height="70" width="70" alt="" >
                            <a class="tt-service-title c-h5" href="">Support Center</a>
                            <div class="simple-text size-4">
                                <p>Support for Cloud Services & Hosting</p>
                            </div>
                        </div>
                        <div class="empty-space marg-xs-b30"></div>                   
                    </div>
                </div>                
            </div>
            <div class="tt-devider hidden-xs"></div>
            <div class="tt-devider-3">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="tt-service">
                            <img class="tt-service-img" src="https://instaservices.blob.core.windows.net/instaservices/archive.png" height="70" width="80" alt="" >
                            <a class="tt-service-title c-h5" href="">DATA Processiong</a>
                            <div class="simple-text size-4">
                                <p>Data Processing and Making it accessable online</p>
                            </div>
                        </div>
                        <div class="empty-space marg-xs-b30"></div>
                    </div>
                    <div class="col-sm-4">
                        <div class="tt-service">
                            <img class="tt-service-img" src="https://instaservices.blob.core.windows.net/instaservices/service_2_th_violet.png" height="70" width="70" alt="" >
                            <a class="tt-service-title c-h5" href="">Enterprise Cloud Protection, Disaster Recovery</a>
                            <div class="simple-text size-4">
                                <p>We are authorised Acronics Enterprise Cloud Service Provider.</p>
                            </div>
                        </div>
                        <div class="empty-space marg-xs-b30"></div>                    
                    </div>
                    <div class="col-sm-4">
                        <div class="tt-service">
                            <img class="tt-service-img" src="https://instaservices.blob.core.windows.net/instaservices/pagination_2.png" height="70" width="70" alt="" >
                            <a class="tt-service-title c-h5" href="">Cloud Service Provider</a>
                            <div class="simple-text size-4">
                                <p>Managed Cloud Hosting Provider for Apps and Software with Backup.</p>
                            </div>
                        </div>                    
                    </div>
                </div>                 
            </div>
            <div class="empty-space marg-lg-b135 marg-md-b100 marg-sm-b50 marg-xs-b40"></div>

        </div>

        <div class="container-fluid">

 
        <div class="container">

            <!-- TT-TITLE -->
            <h2 class="tt-title-label c-h1">Why Choose Us</h2>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
                    <div class="simple-text size-3 text-center">
                        <p>No Set-up Cost - 99.98% Uptime - 24x7 Support - Customized Cloud Deployment</p>
                    </div>                 
                </div>
            </div>
            <div class="empty-space marg-lg-b80 marg-sm-b50 marg-xs-b30"></div>

            <!-- TT-CHOOSE -->
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
                    <div class="tt-choose">
                        <div class="tt-choose-block top-left">
                            <a class="tt-choose-label c-h5" href="">Reliable Hosting</a>
                            <div class="simple-text size-4 color-5">
                                <p>99.98% uptime SLA around network, dedicated servers, cloud servers,ERP cloud apps, storage availability</p>
                            </div>
                            <img class="tt-choose-img" src="https://instaservices.blob.core.windows.net/instaservices/icon_1.png" height="155" width="162" alt="">
                        </div>
                        <div class="empty-space marg-sm-b30"></div>
                        <div class="tt-choose-block top-right">
                            <a class="tt-choose-label c-h5" href="">High Quality Equipment</a>
                            <div class="simple-text size-4 color-5">
                                <p>Deliver great experiences to your users with Global availability & redundant connections.</p>
                            </div>
                            <img class="tt-choose-img" src="https://instaservices.blob.core.windows.net/instaservices/icon_2.png" height="155" width="155" alt="">
                        </div>
                        <div class="empty-space marg-sm-b30"></div>                      
                        <div class="tt-choose-round" style="background-image:url(https://instaservices.blob.core.windows.net/instaservices/choose.jpg);">
                            <div class="tt-choose-inner">
                                <h3 class="tt-choose-title c-h3"><small>Quality & Reliability</small></h3>
                                <div class="simple-text color-4">
                                    <p>Most Reliable. 99.98% Uptime.</p>
                                    <p> 24x7 Service Support</p>
                                    <p>Security & Regular Backups</p>
                                </div>
                            </div>
                        </div>
                        <div class="empty-space marg-sm-b30"></div>
                        <div class="tt-choose-block bottom-left">
                            <a class="tt-choose-label c-h5" href="">24/7 Non Stop Work</a>
                            <div class="simple-text size-4 color-5">
                                <p>Technical Team working 24x7 for better Performance, increased Security & improving your experience.</p>
                            </div>
                            <img class="tt-choose-img" src="https://instaservices.blob.core.windows.net/instaservices/icon_3.png" height="164" width="155" alt="">
                        </div>
                        <div class="empty-space marg-sm-b30"></div>
                        <div class="tt-choose-block bottom-right">
                            <a class="tt-choose-label c-h5" href="">Everyday Backups</a>
                            <div class="simple-text size-4 color-5">
                                <p>Everyday Backup of Servers, cloud apps is available free of cost to all client. Live incremental backup is provided at nominal price.</p>
                            </div>
                            <img class="tt-choose-img" src="https://instaservices.blob.core.windows.net/instaservices/icon_4.png" height="156" width="173" alt="">
                        </div>                                               
                    </div>
                </div>
            </div>
            <div class="empty-space marg-lg-b130 marg-md-b100 marg-sm-b50 marg-xs-b40"></div>

 
            <!-- TT-TITLE -->
            <h2 class="tt-title-label c-h1">The GETCLOUD Guarantee</h2>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
                    <div class="simple-text size-3 text-center">
                        <p></p>
                    </div>
                </div>                    
            </div>
            <div class="empty-space marg-lg-b80 marg-sm-b50 marg-xs-b30"></div>

            <div class="row">
                <div class="col-sm-3">
                    <img class="img-responsive" src="https://instaservices.blob.core.windows.net/instaservices/single_image.png" height="272" width="253" alt="">
                    <div class="empty-space marg-xs-b30"></div>
                </div>
                <div class="col-sm-9">
                    <div class="simple-text">
                        <h5>24/7/365 Support</h5>
                        <p>Phone, Email & Ticket Support. Our Team remains available 24/7 by ticket and working hours by phone to assist you with daily management of your servers.</p>
                    </div>
                    <div class="empty-space marg-lg-b30"></div>

                    <div class="row">
                        <div class="col-sm-9 col-md-7">
                            <!-- TT-ICONBOX -->
                                                                                    
                        </div>
                    </div>
                </div>  
                
            </div>
            <div class="empty-space marg-lg-b65 marg-sm-b40 marg-xs-b30"></div>

            <div class="row">
                <div class="col-sm-3">
                    <img class="img-responsive" src="https://instaservices.blob.core.windows.net/instaservices/single_image_3.png" height="265" width="201" alt="">
                    <div class="empty-space marg-xs-b30"></div>
                </div>
                <div class="col-sm-9">
                    <div class="simple-text">
                        <h5>99.9% Uptime</h5>
                        <p>We guarantee as standard an availability rate of 99.99% and a 4 hour intervention time 24/24.</p>
                    </div>
                    <div class="empty-space marg-lg-b35 marg-sm-b30"></div>

                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    
                    <div class="empty-space marg-xs-b30"></div>
                </div>
                <div class="col-sm-9">
                    <div class="simple-text">
                        <h5>Sales Team</h5>
                        <p>Our sales team remains at your service to help you choose your servers and your options that match your technical needs.</p>
                    </div>
                    <div class="empty-space marg-lg-b35 marg-sm-b30"></div>
                   
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    
                    <div class="empty-space marg-xs-b30"></div>
                </div>
                <div class="col-sm-9">
                    <div class="simple-text">
                        <h5>Monitoring Service</h5>
                        <p>We offer a monitoring service for your server, available by email and text message.</p>
                    </div>
                    <div class="empty-space marg-lg-b35 marg-sm-b30"></div>
                   
                </div>
            </div>
            <div class="empty-space marg-lg-b150 marg-md-b100 marg-sm-b50 marg-xs-b40"></div>
        </div>

        <div class="bg-1">
            <div class="container">
                <div class="empty-space marg-lg-b90 marg-sm-b50 marg-xs-b40"></div>

            </div>
        </div>

        <div class="container">

            <!-- TT-SHORTINFO -->
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="tt-shortinfo clearfix">
                        <div class="tt-shortinfo-icon"><i class="fa fa-life-ring" aria-hidden="true"></i></div>
                        <div class="tt-shortinfo-content">
                            <h5 class="tt-shortinfo-title">24/7</h5>
                            <div class="tt-shortinfo-link">
                                 <a href="">Customer Support</a>
                            </div>
                        </div>
                    </div>
                    <div class="empty-space marg-sm-b30"></div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="tt-shortinfo clearfix">
                        <div class="tt-shortinfo-icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                        <div class="tt-shortinfo-content">
                            <h5 class="tt-shortinfo-title">email:</h5>
                            <div class="tt-shortinfo-link">
                                 <a href="mailto:kiran@getcloud.solutions">kiran@getcloud.solutions</a>
                            </div>
                        </div>
                    </div>
                    <div class="empty-space marg-sm-b30"></div>                   
                </div>
                <div class="clearfix visible-sm-block"></div>
                <div class="col-sm-6 col-md-3">
                    <div class="tt-shortinfo clearfix">
                        <div class="tt-shortinfo-icon"><i class="fa fa-mobile" aria-hidden="true"></i></div>
                        <div class="tt-shortinfo-content">
                            <h5 class="tt-shortinfo-title">phone:</h5>
                            <div class="tt-shortinfo-link">
                                 <a href="tel:917208264676">+91 7208264676</a>
                            </div>
                        </div>
                    </div>
                    <div class="empty-space marg-xs-b30"></div>                  
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="tt-shortinfo clearfix">
                        <div class="tt-shortinfo-icon"><i class="fa fa-commenting" aria-hidden="true"></i></div>
                        <div class="tt-shortinfo-content">
                            <h5 class="tt-shortinfo-title">talk:</h5>
                            <div class="tt-shortinfo-link">
                                 <a href="">Live Chat</a>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>

            <div class="empty-space marg-lg-b45 marg-sm-b40"></div>
        </div>
    </div>

