    <div class="tt-header-margin"></div>

    <div id="content-wrapper">

        <div class="container">
            <div class="empty-space marg-lg-b135 marg-md-b100 marg-sm-b50 marg-xs-b40"></div>

            <!-- TT-TITLE -->
            <h2 class="tt-title-label c-h1">contact us</h2>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
                    <div class="simple-text size-3 text-center">
                        <p></p>
                    </div>
                </div>                    
            </div>
            <div class="empty-space marg-lg-b80 marg-sm-b50 marg-xs-b30"></div>

            <div class="empty-space marg-lg-b75 marg-sm-b50 marg-xs-b40"></div>

            <!-- TT-CONTACT -->
            <div class="row">
                <div class="col-sm-4">
                    <div class="tt-contact">
                        <h4 class="tt-contact-title c-h4"><small>Registered address</small></h4>
                        <div class="simple-text color-5">
                            <p>203, Shankeshwar, Subhash Road, Dombivli. Thane.</p>
                        </div>
                    </div>
                    <div class="empty-space marg-xs-b30"></div>
                </div>
                <div class="col-sm-4">
                    <div class="tt-contact">
                        <h4 class="tt-contact-title c-h4"><small>phone</small></h4>
                        <div class="simple-text color-5">
                            <p>Mobile : <a href="tel:9870953693">+91-9870953693</a></p>
                        </div>
                    </div>
                    <div class="empty-space marg-xs-b30"></div>                  
                </div>
                <div class="col-sm-4">
                    <div class="tt-contact">
                        <h4 class="tt-contact-title c-h4"><small>email address</small></h4>
                        <div class="simple-text color-5">
                            <p><a href="mailto:kiran@getcloud.solutions">kiran@getcloud.solutions</a><br>
                            </p>
                        </div>
                    </div>                    
                </div>
            </div>
            <div class="empty-space marg-lg-b135 marg-md-b100 marg-sm-b50 marg-xs-b40"></div>


            <!-- TT-TITLE -->
            <h2 class="tt-title-label c-h2">our services</h2>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
                    <div class="simple-text size-3 text-center">
                        <p>We provide Dedicated Servers Hosting, Cloud Hosting Provider, Cloud ERP Provider, Acronics Enterprise Solution Provider. </p>
                    </div>                  
                </div>
            </div>
            <div class="empty-space marg-lg-b75 marg-sm-b50 marg-xs-b30"></div>

            <!-- TT-SERVICE -->
            <div class="tt-devider-3">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="tt-service">
                            <img class="tt-service-img" src="https://instaservices.blob.core.windows.net/instaservices/compare_icon.png" height="70" width="80" alt="" >
                            <a class="tt-service-title c-h5" href="">Dedicated Servers</a>
                            <div class="simple-text size-4">
                                <p>Customized Dedicated Servers hosted in India. 99.9% Uptime. Read More.</p>
                            </div>
                        </div>
                        <div class="empty-space marg-xs-b30"></div>
                    </div>
                    <div class="col-sm-4">
                        <div class="tt-service">
                            <img class="tt-service-img" src="https://instaservices.blob.core.windows.net/instaservices/analytics.png" height="70" width="70" alt="" >
                            <a class="tt-service-title c-h5" href="https://getcloud.solutions/clouderp/index">Cloud ERP App</a>
                            <div class="simple-text size-4">
                                <p>Manage your Business Efficently with Cloud ERP for Manufacturing, Services, Retails, Distribution & Education. Web based & User Friendly.</p>
                            </div>
                        </div>
                        <div class="empty-space marg-xs-b30"></div>                   
                    </div>
                    <div class="col-sm-4">
                        <div class="tt-service">
                            <img class="tt-service-img" src="https://instaservices.blob.core.windows.net/instaservices/service_3_th_violet.png" height="70" width="70" alt="" >
                            <a class="tt-service-title c-h5" href="">Support Center</a>
                            <div class="simple-text size-4">
                                <p>Support for Cloud Services & Hosting</p>
                            </div>
                        </div>
                        <div class="empty-space marg-xs-b30"></div>                   
                    </div>
                </div>                
            </div>
            <div class="tt-devider hidden-xs"></div>
            <div class="tt-devider-3">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="tt-service">
                            <img class="tt-service-img" src="https://instaservices.blob.core.windows.net/instaservices/archive.png" height="70" width="80" alt="" >
                            <a class="tt-service-title c-h5" href="">DATA Processiong</a>
                            <div class="simple-text size-4">
                                <p>Data Processing and Making it accessable online</p>
                            </div>
                        </div>
                        <div class="empty-space marg-xs-b30"></div>
                    </div>
                    <div class="col-sm-4">
                        <div class="tt-service">
                            <img class="tt-service-img" src="https://instaservices.blob.core.windows.net/instaservices/service_2_th_violet.png" height="70" width="70" alt="" >
                            <a class="tt-service-title c-h5" href="">Enterprise Cloud Protection, Disaster Recovery</a>
                            <div class="simple-text size-4">
                                <p>We are authorised Acronics Enterprise Cloud Service Provider.</p>
                            </div>
                        </div>
                        <div class="empty-space marg-xs-b30"></div>                    
                    </div>
                    <div class="col-sm-4">
                        <div class="tt-service">
                            <img class="tt-service-img" src="https://instaservices.blob.core.windows.net/instaservices/pagination_2.png" height="70" width="70" alt="" >
                            <a class="tt-service-title c-h5" href="">Cloud Service Provider</a>
                            <div class="simple-text size-4">
                                <p>Managed Cloud Hosting Provider for Apps and Software with Backup.</p>
                            </div>
                        </div>                    
                    </div>
                </div>                 
            </div>
            <div class="empty-space marg-lg-b135 marg-md-b100 marg-sm-b50 marg-xs-b40"></div>

        </div>

        <div class="container">
            <div class="empty-space marg-lg-b45 marg-sm-b40"></div>

            <!-- TT-SHORTINFO -->
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="tt-shortinfo clearfix">
                        <div class="tt-shortinfo-icon"><i class="fa fa-life-ring" aria-hidden="true"></i></div>
                        <div class="tt-shortinfo-content">
                            <h5 class="tt-shortinfo-title">24/7</h5>
                            <div class="tt-shortinfo-link">
                                 <a href="">Customer Support</a>
                            </div>
                        </div>
                    </div>
                    <div class="empty-space marg-sm-b30"></div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="tt-shortinfo clearfix">
                        <div class="tt-shortinfo-icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                        <div class="tt-shortinfo-content">
                            <h5 class="tt-shortinfo-title">email:</h5>
                            <div class="tt-shortinfo-link">
                                 <a href="mailto:kiran@getcloud.solutions">kiran@getcloud.solutions</a>
                            </div>
                        </div>
                    </div>
                    <div class="empty-space marg-sm-b30"></div>                   
                </div>
                <div class="clearfix visible-sm-block"></div>
                <div class="col-sm-6 col-md-3">
                    <div class="tt-shortinfo clearfix">
                        <div class="tt-shortinfo-icon"><i class="fa fa-mobile" aria-hidden="true"></i></div>
                        <div class="tt-shortinfo-content">
                            <h5 class="tt-shortinfo-title">phone:</h5>
                            <div class="tt-shortinfo-link">
                                 <a href="tel:7208264676">+91 7208264676</a>
                            </div>
                        </div>
                    </div>
                    <div class="empty-space marg-xs-b30"></div>                     
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="tt-shortinfo clearfix">
                        <div class="tt-shortinfo-icon"><i class="fa fa-commenting" aria-hidden="true"></i></div>
                        <div class="tt-shortinfo-content">
                            <h5 class="tt-shortinfo-title">talk:</h5>
                            <div class="tt-shortinfo-link">
                                 <a href="">Live Chat</a>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>

            <div class="empty-space marg-lg-b45 marg-sm-b40"></div>
        </div>
    </div>
