 
     <div class="tt-header-margin"></div>

    <div id="content-wrapper">
       <div class="container">
            <div class="empty-space marg-lg-b135 marg-md-b100 marg-sm-b50 marg-xs-b40"></div>

            <!-- TT-TITLE -->
            <h2 class="tt-title-label c-h1">Stay Tune! This Page will be Launched Soon.</h2>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
                    <div class="simple-text size-3 text-center">
                        <p>We are Handcrafting Best Deals & Services for you. Kindly stay tuned. Our Team is working round the clock, for completing this page. Thanks!!!</p>
                        <p>In meantime, Kindly have a look at our recently launched services of <a href="https://getcloud.solutions" class="link on white page">Dedicated Server</a> and <a href="https://getcloud.solutions/clouderp/index" class="link on white page">Cloud Hosted ERP</a>, by click the link.</p>
                        <p>You can Contact us at mail id given on Contact Us Page.</p>
                    </div>
                </div>                    
            </div>
            <div class="empty-space marg-lg-b80 marg-sm-b50 marg-xs-b30"></div>

            <!-- TT-SERVICE -->
            <div class="tt-devider-2">
                <div class="row">
                    <div class="col-sm-6">

                        <div class="empty-space marg-xs-b30"></div>
                    </div>
                    <div class="col-sm-6">

                        <div class="empty-space marg-xs-b30"></div>                   
                    </div>
                </div>                
            </div>  
            <div class="tt-devider hidden-xs"></div>
            <div class="tt-devider-2">
                <div class="row">
                    <div class="col-sm-6">

                        <div class="empty-space marg-xs-b30"></div>
                    </div>
                    <div class="col-sm-6">
                        <div class="empty-space marg-xs-b30"></div>                   
                    </div>
                </div>                
            </div>
            <div class="empty-space marg-lg-b135 marg-md-b100 marg-sm-b50 marg-xs-b30"></div>
                                <div class="tt-subscribe-submit c-btn type-1">
                                                <a class="c-btn type-1" href="#mailmunch-pop-549489"><span>Get Notified</span></a>
                                </div>
            <div class="empty-space marg-lg-b80 marg-sm-b50 marg-xs-b30"></div>
        </div>
            <!-- TT-COMPARE-2 -->

            <div class="empty-space marg-lg-b140 marg-md-b100 marg-sm-b50 marg-xs-b40"></div>
        </div>


