    <div class="tt-header-margin"></div>

    <div id="content-wrapper">

        <!-- TT-HEADING -->
        <div class="tt-heading">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="tt-heading-title service-heading">Online Reputation Management.</h1>
                        <br>
                    </div>
                </div>
                <div class="row subheading">
                    <div class="col-md-12">
                        <h2 class="tt-slide-cat subheading">Reputation Management can increase visibility, build up brand equity, and help generate advocacy all while building your online reputation.</h2>
                    </div>
                </div>
            
                
            </div>
        </div>

        <div class="container">
            <div class="empty-space marg-lg-b501 marg-md-b100 marg-sm-b50 marg-xs-b40"></div>

            <!-- TT-TITLE -->
            <div class="row">
                <div class="col-md-12">
                    <h2 class="tt-slide-cat subheading">Reputation Management is aimed to boost online visibility and drive visitors to a website by assisting the reputation of a business within search engines. It helps foster a debate by enhancing conversation and “influencing the influencer”. Online Reputation Management can be used either for increasing positive brand and keyword content driven search results or dissipating negative content that appears within search engines through brand searches, keyword searches, or both.</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="simple-text size-3 text-center service-description">
                        <p>We offer a complete managing of your online reputation and provide a wide range of services such as social monitoring, online PR, negative content filtering and removal, engagement, as well as social media content promotion. Our large network of media contacts allows us to know the time and place for everything that you create as a brand in the online world. This way, every opportunity is utilized and all content is created with a discernible target audience in mind.</p>
                    </div>
                </div> 
                <div class="col-md-6">
                    <div class="simple-text size-3 text-center service-description">
                        <p>Our large network of media contacts allows us to know the time and place for everything that you create as a brand in the online world. This way, every opportunity is utilized and all content is created with a discernible target audience in mind.</p>
                    </div>
                </div>    
            </div>
            <div class="empty-space marg-lg-b80 marg-sm-b50 marg-xs-b30"></div>

            <!-- TT-SERVICE -->
            <!-- <div class="">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="tt-service">
                            <a class="tt-service-title c-h5" href="#">E-Commerce Solutions</a>
                            <div class="simple-text size-3 service-description">
                                <p>Our company has successful solutions to develop ecommerce and shopping cart software for online businesses.</p>
                            </div>
                        </div>
                        <div class="empty-space marg-xs-b30"></div>
                    </div>
                    <div class="col-sm-4">
                        <div class="tt-service">
                            <a class="tt-service-title c-h5" href="#">CMS, WordPress, Drupal</a>
                            <div class="simple-text size-3 service-description">
                                <p>We develop content management systems (CMS) to enable you to manage site content effectively.</p>
                            </div>
                        </div>
                        <div class="empty-space marg-xs-b30"></div>                   
                    </div>
                    
                    <div class="col-sm-4">
                        <div class="tt-service">
                            <a class="tt-service-title c-h5" href="#">Ruby On Rails App</a>
                            <div class="simple-text size-3 service-description">
                                <p>Duis posuere blandit orci sed tincidunt. Curabitur porttitor nisi ac nunc ornare, in fringilla nisl blandit.</p>
                            </div>
                        </div>
                        <div class="empty-space marg-xs-b30"></div>
                    </div>
                </div>                
            </div>  
            <div class="tt-devider hidden-xs"></div>
            <div class="">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="tt-service">
                            <a class="tt-service-title c-h5" href="#">PHP and JS Development</a>
                            <div class="simple-text size-3 service-description">
                                <p>We provide software development services in: PHP, Drupal, Python, JavaScript/ jQuery and other modern technologies.</p>
                            </div>
                        </div>
                        <div class="empty-space marg-xs-b30"></div>
                    </div>
                    <div class="col-sm-4">
                        <div class="tt-service">
                            <a class="tt-service-title c-h5" href="#">Node.js App Development</a>
                            <div class="simple-text size-3 service-description">
                                <p>Duis posuere blandit orci sed tincidunt. Curabitur porttitor nisi ac nunc ornare, in fringilla nisl blandit.</p>
                            </div>
                        </div>
                        <div class="empty-space marg-xs-b30"></div>                   
                    </div>
                     <div class="col-sm-4">
                        <div class="tt-service">
                            <a class="tt-service-title c-h5" href="#">Website(Front-end)</a>
                            <div class="simple-text size-3 service-description">
                                <p>Duis posuere blandit orci sed tincidunt. Curabitur porttitor nisi ac nunc ornare, in fringilla nisl blandit.</p>
                            </div>
                        </div>
                        <div class="empty-space marg-xs-b30"></div>                   
                    </div>
                </div>                
            </div> -->


            <!-- TT-TITLE -->
            <!-- TT-COMPARE-2 -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="tt-service">
                            <div class="simple-text size-4 color-5">
                                <img src="https://instaservices.blob.core.windows.net/instaservices/services-seo-copyrighting.png" alt="Responsive Web Development Solutions" title="services-web-services-on-light">
                            </div>
                        </div>
                        <div class="empty-space marg-xs-b30"></div>
                    </div>
                    <div class="col-sm-6">
                        <div class="tt-service-desciption">
                            <a class="tt-service-title c-h5" href=""></a>
                            <div class="simple-text size-3 service-description">
                                <p>We provide a Reputation Management report that captures the feedbacks related to your company, product or service that occurs on the Internet, we also segment the report in positive and negative press. It is important for tracking negative comments or reviews that appear on search engine result pages (SERPs) creating a negative reputation to your brand and could have a significant impact on your online sales and enquiries. Our team can run and manage the entire Reputation Management as we have all of the software and technologies necessary to collect the feeds are store them in our database.</p>
                            </div>
                        </div>
                        <div class="empty-space marg-xs-b30"></div>                   
                    </div>
                </div>
            </div>
            
            

            <!-- TT-TITLE -->
            <h2 class="tt-title-label c-h1">Tell Us about Your Project</h2>
            <h2 class="tt-slide-cat">Contact us today and we will help build your brand awareness, strengthen your authority and drive traffic to your website. Let us help you get your business online and grow it with passion.</h2>
            <div class="container-fluid">
                <div class="row contact-button">
                    <div class="col-md-12">
                        <a class="c-btn type-1 color-3 full" href="#mailmunch-pop-590879"><span>Get free Quote for your Project</span></a>
                    </div>
                </div>                    
                </div>
            </div>
            <div class="empty-space marg-lg-b80 marg-sm-b50 marg-xs-b30"></div>        


        <div class="container">
            <div class="empty-space marg-lg-b45 marg-sm-b40"></div>

            <!-- TT-SHORTINFO -->
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="tt-shortinfo clearfix">
                        <div class="tt-shortinfo-icon"><i class="fa fa-life-ring" aria-hidden="true"></i></div>
                        <div class="tt-shortinfo-content">
                            <h5 class="tt-shortinfo-title">24/7</h5>
                            <div class="tt-shortinfo-link">
                                 <a href="#">Custtomer Support</a>
                            </div>
                        </div>
                    </div>
                    <div class="empty-space marg-sm-b30"></div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="tt-shortinfo clearfix">
                        <div class="tt-shortinfo-icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                        <div class="tt-shortinfo-content">
                            <h5 class="tt-shortinfo-title">email:</h5>
                            <div class="tt-shortinfo-link">
                                 <a href="mailto:kiran@getcloud.solutions">kiran@getcloud.solutions</a>
                            </div>
                        </div>
                    </div>
                    <div class="empty-space marg-sm-b30"></div>                   
                </div>
                <div class="clearfix visible-sm-block"></div>
                <div class="col-sm-6 col-md-3">
                    <div class="tt-shortinfo clearfix">
                        <div class="tt-shortinfo-icon"><i class="fa fa-mobile" aria-hidden="true"></i></div>
                        <div class="tt-shortinfo-content">
                            <h5 class="tt-shortinfo-title">phone:</h5>
                            <div class="tt-shortinfo-link">
                                 <a href="tel:485558753005">+91 9870953693</a>
                            </div>
                        </div>
                    </div>
                    <div class="empty-space marg-xs-b30"></div>                  
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="tt-shortinfo clearfix">
                        <div class="tt-shortinfo-icon"><i class="fa fa-commenting" aria-hidden="true"></i></div>
                        <div class="tt-shortinfo-content">
                            <h5 class="tt-shortinfo-title">talk:</h5>
                            <div class="tt-shortinfo-link">
                                 <a href="#">Live Chat</a>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>

            <div class="empty-space marg-lg-b45 marg-sm-b40"></div>
        </div>
    </div>

