    <div class="tt-header-margin"></div>

    <div id="content-wrapper">

        <!-- TT-SLIDE -->
        <div class="tt-heading">

                        <div class="container" style="background-image:url(https://instaservices.blob.core.windows.net/instaservices/pattern.png);">                         
                                    <div class="row vertical-middle">                  
                                        <div class="col-sm-10">
                                            <div class="tt-slide-cat"><p>Complete ERP System on Cloud</p></div>
                                            <br />
                                                        <h1 class="tt-slide-title c-h1">Cloud ERP Solution for Small & Medium Business.</h1>
                                            <div class="simple-text size-2 color-2">
                                                <br />
                                                <p>ERPNext helps you to take full control of your Business & helps you to Manage your organizations efficiently. Covers all including financial accounting, inventory management, manufacturing, human resource management and much more. Cloud based application, easy and user friendly.</p>
                                                <div class="col-sm-4">
                                                    <a href="">Accounting</a>
                                                </div>
                                                <div class="col-sm-4">
                                                    <a href="">CRM</a>
                                                </div>
                                                <div class="col-sm-4">
                                                    <a href="">Inventory</a>
                                                </div><div class="col-sm-4"><a href="">Selling (Sales)</a></div>
                                                <div class="col-sm-4"><a href="">Buying (Purchasing)</a></div>
                                                <div class="col-sm-4"><a href="">Human Resources</a></div>
                                                <div class="col-sm-4"><a href="">Website / E-Commerce</a></div>
                                                <div class="col-sm-4"><a href="">Customer / Supplier Portal</a></div>
                                                <div class="col-sm-4"><a href="">Customer Support</a></div>
                                            </div>
                                            <a class="c-btn type-1" href="#mailmunch-pop-549488"><span>Get Online Demo</span></a> 
      
                                        </div>
                                    </div>
                                </div>
                </div>              

                <div class="bg-1">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-1">
                                <div class="empty-space marg-lg-b60 marg-sm-b40 marg-xs-b40"></div>

                                <div class="empty-space marg-lg-b55 marg-sm-b40 marg-xs-b40"></div>
                            </div>
                        </div>
                    </div>
                </div>
        <div class="container">
            <div class="empty-space marg-lg-b135 marg-md-b100 marg-sm-b50 marg-xs-b40"></div>

            <!-- TT-TITLE -->
            <h2 class="tt-title-label c-h2">Cloud ERP Features & Modules</h2>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
                    <div class="simple-text size-3 text-center">
                        <p>Accounting, Inventory, CRM, Sales & beyond. ERPNEXT covers all the features you need to run a small or medium business.</p>
                    </div>                  
                </div>
            </div>
            <div class="empty-space marg-lg-b75 marg-sm-b50 marg-xs-b30"></div>

            <!-- TT-SERVICE -->
            <div class="tt-devider-3">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="tt-service">
                            <img class="tt-service-img" src="https://instaservices.blob.core.windows.net/instaservices/accounting-book.png" height="70" width="80" alt="" >
                            <a class="tt-service-title c-h5" href="">Accounting</a>
                            <div class="simple-text size-4">
                                <p></p>
                            </div>
                        </div>
                        <div class="empty-space marg-xs-b30"></div>
                    </div>
                    <div class="col-sm-4">
                        <div class="tt-service">
                            <img class="tt-service-img" src="https://instaservices.blob.core.windows.net/instaservices/crm.png" height="70" width="70" alt="" >
                            <a class="tt-service-title c-h5" href="">CRM</a>
                            <div class="simple-text size-4">
                                <p></p>
                            </div>
                        </div>
                        <div class="empty-space marg-xs-b30"></div>                   
                    </div>
                    <div class="col-sm-4">
                        <div class="tt-service">
                            <img class="tt-service-img" src="https://instaservices.blob.core.windows.net/instaservices/warehouse.png" height="70" width="70" alt="" >
                            <a class="tt-service-title c-h5" href="">Inventory & Stocks</a>
                            <div class="simple-text size-4">
                                <p></p>
                            </div>
                        </div>
                        <div class="empty-space marg-xs-b30"></div>                   
                    </div>
                </div>                
            </div>
            <div class="tt-devider hidden-xs"></div>
            <div class="tt-devider-3">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="tt-service">
                            <img class="tt-service-img" src="https://instaservices.blob.core.windows.net/instaservices/sales.png" height="70" width="80" alt="" >
                            <a class="tt-service-title c-h5" href="">Sales</a>
                            <div class="simple-text size-4">
                                <p></p>
                            </div>
                        </div>
                        <div class="empty-space marg-xs-b30"></div>
                    </div>
                    <div class="col-sm-4">
                        <div class="tt-service">
                            <img class="tt-service-img" src="https://instaservices.blob.core.windows.net/instaservices/cash-register.png" height="70" width="70" alt="" >
                            <a class="tt-service-title c-h5" href="">Purchases</a>
                            <div class="simple-text size-4">
                                <p></p>
                            </div>
                        </div>
                        <div class="empty-space marg-xs-b30"></div>                    
                    </div>
                    <div class="col-sm-4">
                        <div class="tt-service">
                            <img class="tt-service-img" src="https://instaservices.blob.core.windows.net/instaservices/hr.png" height="70" width="70" alt="" >
                            <a class="tt-service-title c-h5" href="">Human Resources - HR</a>
                            <div class="simple-text size-4">
                                <p></p>
                            </div>
                        </div>                    
                    </div>
                    <div class="col-sm-4">
                        <div class="tt-service">
                            <img class="tt-service-img" src="https://instaservices.blob.core.windows.net/instaservices/online-shop.png" height="70" width="70" alt="" >
                            <a class="tt-service-title c-h5" href="">Website/E-Store</a>
                            <div class="simple-text size-4">
                                <p></p>
                            </div>
                        </div>                    
                    </div>
                    <div class="col-sm-4">
                        <div class="tt-service">
                            <img class="tt-service-img" src="https://instaservices.blob.core.windows.net/instaservices/hotel-supplier.png" height="70" width="70" alt="" >
                            <a class="tt-service-title c-h5" href="">Customer/Supplier Portal</a>
                            <div class="simple-text size-4">
                                <p></p>
                            </div>
                        </div>                    
                    </div>
                    <div class="col-sm-4">
                        <div class="tt-service">
                            <img class="tt-service-img" src="https://instaservices.blob.core.windows.net/instaservices/customer-service.png" height="70" width="70" alt="" >
                            <a class="tt-service-title c-h5" href="">Customer Support Portal</a>
                            <div class="simple-text size-4">
                                <p></p>
                            </div>
                        </div>                    
                    </div>
                </div>                 
            </div>
            <div class="empty-space marg-lg-b135 marg-md-b100 marg-sm-b50 marg-xs-b40"></div>

        </div>

        <div class="container-fluid">

 
        <div class="container">

            <!-- TT-TITLE -->
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
                    <div class="simple-text size-3 text-center">
                        <p>ERPNext covers all the features you need to run a small or medium business. Book Demo to understand more.</p>
                    </div>                 
                </div>
            </div>
            <div class="empty-space marg-lg-b75 marg-sm-b50 marg-xs-b30"></div>
            <!-- TT-CHOOSE -->
            <div class="row">
                <div class="col-sm-10"
                    <div class="tt-choose">
                        <img class="img-responsive" src="https://instaservices.blob.core.windows.net/instaservices/clouderp.gif" height="" width="" alt="">
                    </div>
                </div>
            </div>
            <div class="empty-space marg-lg-b130 marg-md-b100 marg-sm-b50 marg-xs-b40"></div>

            <!-- TT-TITLE -->
            <h2 class="tt-title-label c-h2">Pricing</h2>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
                    <div class="simple-text size-3 text-center">
                        <p>No Setup Cost - Business hour Support - Full Implementation & Training Support. For yearly Payment 10 % Discount will be provided. All Prices are exclusive of Taxes. Extra Transfer will be charged at 0.75 INR/GB.</p>
                    </div>
                </div>                    
            </div>
 
            <!-- TT-PLAN -->       
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="tt-swiper-margin">
                        <div class="swiper-container" data-autoplay="5000" data-loop="0" data-speed="500" data-center="0" data-slides-per-view="responsive" data-xs-slides="1" data-sm-slides="2" data-md-slides="3" data-lg-slides="3" data-add-slides="3">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide active" data-val="0"> 
                                    <div class="tt-swiper-margin-entry">
                                        <div class="empty-space marg-lg-b60"></div>
                                        <div class="tt-plan">
                                            <a class="tt-plan-title c-h4" href="#mailmunch-pop-549333">Startup</a>
                                            <div class="simple-text color-2">
                                                <p>For 5 Users.</p>
                                                <p>Space 20 GB SSD Disk.</p>
						<p>2TB Transfer</p>
                                                <p>Functional Support.</p>
                                            </div>
                                            <div class="tt-plan-price"><span class="tt-plan-number"><span>INR 2,499</span>/per month</span></div>
                                                <p></p>
                                            <div class="tt-plan-bottom">
                                                <a class="c-btn type-1" href="#mailmunch-pop-549333"><span>Order Setup</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide" data-val="1"> 
                                    <div class="tt-swiper-margin-entry">
                                        <div class="empty-space marg-lg-b60"></div>
                                        <div class="tt-plan">
                                            <a class="tt-plan-title c-h4" href="#mailmunch-pop-549333">Business</a>
                                            <div class="simple-text color-2">
                                                <p>Up to 10 Users</p>
                                                <p>Space 30 GB SSD</p>
						<p>2TB Transfer</p>
                                                <p>Functional Support</p>
                                            </div>
                                            <div class="tt-plan-price"><span class="tt-plan-number"><span>INR 4,999</span>/per month</span></div>
                                            <p></p>
                                            <div class="tt-plan-bottom">
                                                <a class="c-btn type-1" href="#mailmunch-pop-549333"><span>Order Setup</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide" data-val="2"> 
                                    <div class="tt-swiper-margin-entry">
                                        <div class="empty-space marg-lg-b60"></div>
                                        <div class="tt-plan">
                                            <a class="tt-plan-title c-h4" href="#mailmunch-pop-549333">Growth</a>
                                            <div class="simple-text color-2">
                                                <p>Up to 20 Users.</p>
                                                <p>Space 40 GB SSD</p>
						<p>3TB Transfer</p>
                                                <p>Functional Support</p>
                                            </div>
                                            <div class="tt-plan-price"><span class="tt-plan-number"><span>INR 9,700</span>/per month</span></div>
                                            <div class="tt-plan-bottom">
                                                <a class="c-btn type-1" href="#mailmunch-pop-549333"><span>Order Setup</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide" data-val="3"> 
                                    <div class="tt-swiper-margin-entry">
                                        <div class="empty-space marg-lg-b60"></div>
                                        <div class="tt-plan">
                                            <a class="tt-plan-title c-h4" href="#mailmunch-pop-549333">Premium</a>
                                            <div class="simple-text color-2">
                                                <p>Up to 50 Users.</p>
                                                <p>Space 60GB SSD</p>
						<p>4TB Transfer</p>
                                                <p>Functional Support.</p>
                                            </div>
                                            <div class="tt-plan-price"> <span class="tt-plan-number"><span>INR 23,499</span>/per month</span></div>
                                            <div class="tt-plan-bottom">
                                                <a class="c-btn type-1" href="#mailmunch-pop-549333"><span>Order Setup</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide" data-val="4"> 
                                    <div class="tt-swiper-margin-entry">
                                        <div class="empty-space marg-lg-b60"></div>
                                        <div class="tt-plan">
                                            <a class="tt-plan-title c-h4" href="#mailmunch-pop-549333">Large</a>
                                            <div class="simple-text color-2">
                                                <p>For upto 100 Users.</p>
                                                <p>Space 80GB SSD</p>
						<p>5TB Transfer</p>
                                                <p>Functional Support</p>
                                            </div>
                                            <div class="tt-plan-price"><span class="tt-plan-number"><span>INR 44,999</span>/per month</span></div>
                                            <div class="tt-plan-bottom">
                                                <a class="c-btn type-1" href="#mailmunch-pop-549333"><span>Order Setup</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide" data-val="5"> 
                                    <div class="tt-swiper-margin-entry">
                                        <div class="empty-space marg-lg-b60"></div>
                                        <div class="tt-plan">
                                            <a class="tt-plan-title c-h4" href="#mailmunch-pop-549333">Dedicated</a>
                                            <div class="simple-text color-2">
                                                <p>For above 100 Users.</p>
                                                <p>Space 300 GB.</p>
                                                <p>Functional Support</p>
                                            </div>
                                            <div class="tt-plan-price"><span class="tt-plan-number"><span>Contact us for Pricing</span>/per month</span></div>
                                            <div class="tt-plan-bottom">
                                                <a class="c-btn type-1" href="#mailmunch-pop-549333"><span>Order Setup</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pagination c-pagination"></div>
                        </div>
                    </div>
                    <div class="empty-space marg-lg-b130 marg-md-b100 marg-sm-b50 marg-xs-b40"></div>
                </div>
            </div>

        </div>




            <!-- TT-TITLE -->
            <h2 class="tt-title-label c-h2">Domains</h2>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
                    <div class="simple-text size-3 text-center">
                        <p></p>
                    </div>
                </div>                    
            </div>
            <div class="row">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-9">
                    <div class="simple-text">
                        <h5>Manufacturing.</h5>
                        <p></p>
                    </div>

                    <div class="row">
                        <div class="col-sm-9 col-md-7">
                            <!-- TT-ICONBOX -->
                                                                                    
                        </div>
                    </div>
                </div>  
                
            </div>

            <div class="row">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-9">
                    <div class="simple-text">
                        <h5>Services</h5>
                        <p></p>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    
                </div>
                <div class="col-sm-9">
                    <div class="simple-text">
                        <h5>Retail</h5>
                        <p></p>
                    </div>
                   
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    
                </div>
                <div class="col-sm-9">
                    <div class="simple-text">
                        <h5>Distribution</h5>
                        <p></p>
                    </div>
                   
                </div>
            </div>
            <div class="empty-space marg-lg-b150 marg-md-b100 marg-sm-b50 marg-xs-b40"></div>
        </div>

        <div class="bg-1">
            <div class="container">
                <div class="empty-space marg-lg-b90 marg-sm-b50 marg-xs-b40"></div>



                <div class="empty-space marg-lg-b70 marg-sm-b40"></div>
            </div>
        </div>

        <div class="container">
            <div class="empty-space marg-lg-b45 marg-sm-b40"></div>

            <!-- TT-SHORTINFO -->
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="tt-shortinfo clearfix">
                        <div class="tt-shortinfo-icon"><i class="fa fa-life-ring" aria-hidden="true"></i></div>
                        <div class="tt-shortinfo-content">
                            <h5 class="tt-shortinfo-title">24/7</h5>
                            <div class="tt-shortinfo-link">
                                 <a href="https://getcloud.solutions/pages/hosting">Customer Support</a>
                            </div>
                        </div>
                    </div>
                    <div class="empty-space marg-sm-b30"></div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="tt-shortinfo clearfix">
                        <div class="tt-shortinfo-icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                        <div class="tt-shortinfo-content">
                            <h5 class="tt-shortinfo-title">email:</h5>
                            <div class="tt-shortinfo-link">
                                 <a href="mailto:kiran@getcloud.solutions">kiran@getcloud.solutions</a>
                            </div>
                        </div>
                    </div>
                    <div class="empty-space marg-sm-b30"></div>                   
                </div>
                <div class="clearfix visible-sm-block"></div>
                <div class="col-sm-6 col-md-3">
                    <div class="tt-shortinfo clearfix">
                        <div class="tt-shortinfo-icon"><i class="fa fa-mobile" aria-hidden="true"></i></div>
                        <div class="tt-shortinfo-content">
                            <h5 class="tt-shortinfo-title">phone:</h5>
                            <div class="tt-shortinfo-link">
                                 <a href="tel:917208264676">+91 7208264676</a>
                            </div>
                        </div>
                    </div>
                    <div class="empty-space marg-xs-b30"></div>                  
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="tt-shortinfo clearfix">
                        <div class="tt-shortinfo-icon"><i class="fa fa-commenting" aria-hidden="true"></i></div>
                        <div class="tt-shortinfo-content">
                            <h5 class="tt-shortinfo-title">talk:</h5>
                            <div class="tt-shortinfo-link">
                                 <a href="">Live Chat</a>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>

            <div class="empty-space marg-lg-b45 marg-sm-b40"></div>
        </div>
    </div>

