    <!-- LOADER -->

    <div id="loader-wrapper">

        <div id="loader-container">

            <p id="loadingText">Loading</p>

        </div>

    </div>
    <!-- HEADER -->
    <header class="tt-header">
        <div class="tt-header-banner">
            <div class="container">
                <img class="tt-header-banner-img" src="https://instaservices.blob.core.windows.net/instaservices/banner_icon.png" height="57" width="33" alt="">
                <a class="tt-header-banner-title c-h4" href="">Hot Proposal!</a>
                <div class="tt-header-banner-text">Limited Exclusive Festive Month Offer, 10% Discount on Invoice. <a href=""></a></div>
                <a class="c-btn type-1" href="#mailmunch-pop-549489"><span>take it now</span></a>
                <div class="tt-header-banner-close"></div>
            </div>
        </div>
        <div class="tt-header-container">
            <div class="top-inner clearfix">
                <div class="top-inner-container">
                    <a class="logo" href="https://getcloud.solutions"><img src="https://instaservices.blob.core.windows.net/instaservices/GETCLOUD.png" height="38" width="51" alt=""></a>
                    <div class="cmn-toggle-switch"><span></span></div>
                </div>
            </div>
            <div class="toggle-block">
                <div class="toggle-block-container">
                    <nav class="main-nav clearfix">
                        <ul>
                            <li class="parent active">
                                <a href="https://getcloud.solutions">Home<i class="menu-toggle fa fa-angle-down"></i></a>                                                          
                            </li>
                            <li><a href="https://getcloud.solutions/pages/hosting">Hosting</a></li>
                            <li>
                                <a href="https://getcloud.solutions/clouderp/index">Cloud ERP</a>
                            </li>
                            <li class="parent">
                                <a href="">Pages<i class="menu-toggle fa fa-angle-down"></i></a>
                                <ul>
                                    <li><a href="">About Us</a></li>
                                    <li><a href="">Faq</a></li>                    
                                    <li><a href="">Shared</a></li>                   
                                    <li><a href="">Support</a></li>                  
                                    <li><a href="">vps</a></li>                  
                                </ul>                                
                            </li>
                            <li class="parent">
                                <a href="">Blog<i class="menu-toggle fa fa-angle-down"></i></a>
                                <ul>
                                    <li><a href="">Blog List</a></li>
                                    <li><a href="">Blog Detail</a></li>
                                </ul>
                            </li>
                            <li><a href="https://getcloud.solutions/pages/contactus">Contact us</a></li>
                        </ul>
                    </nav>
                    <div class="nav-more">
                        <div class="tt-nav-contact">
                            <div class="tt-nav-contact-item"><i class="fa fa-clock-o" aria-hidden="true"></i>24/7 Custtomer Support</div>
                            <div class="tt-nav-contact-item"><i class="fa fa-mobile" aria-hidden="true"></i><a href="tel:7208264676">7208264676</a></div>
                        </div>
                        <div class="tt-nav-login">
                            <a class="c-btn type-1 size-2" href=""><span></span></a>
                            <a class="c-btn type-1 size-2 color-2" href=""><span></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
